@import url('https://fonts.googleapis.com/css?family=Lato:400, 700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script');

//GLOBAL STYLES & COLORS ------------------------------------ //
*, *:before, *:after {
  box-sizing: border-box; 
}

html, body {
  font-size: 10px;
  margin: 0px;
}

$lightest: #fff;
$light: #F3F3F3;
$theme-color: #999;
$theme-color-lighter: #ccc;
$theme-color-lightest: #ddd;
$theme-color-darkest: #333;
$highlight-color: #87c6bd;

$font-normal: 1.5rem;
$font-small: 1.2rem;

@mixin btn-solid($color) {
  border-color: $color;
  color: white;
  background-color: $color;
  font-size: $font-small;
  letter-spacing: 1px;
  align-self: center;
}

@mixin btn-outline($color) {
  border-color: $color;
  color: $color;
  font-size: $font-small;
  letter-spacing: 1px;
  align-self: center; 
}

.btn:hover {
  border-color: $theme-color;
  background-color: $theme-color;
  color: white;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;
    box-shadow: none !important;
}

.highlight {
  color: $highlight-color !important;
}


//GLOBAL LAYOUT------------------------------------ //

.app {
  font: $font-normal "Roboto", Arial, sans-serif;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

  
.app__inner {
  background-color: $light;
  //as flex item
  flex-grow: 1;
  //as flex container
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
}

//LOGO ------------------------------------------------------//

.logo {
    position: absolute;
    left: 40px;
    height: 79px;
    margin-top: 2px;
    //as flex container
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    align-items: center; 
    margin-top: 2px;
    color: $theme-color-darkest;

  &__top {
    font-size: 4rem;
    transform: scale(1, .75);
    -webkit-transform: scale(1, .75);
    -moz-transform: scale(1, .75);
    -ms-transform: scale(1, .75);
    -o-transform: scale(1, .75);
    letter-spacing: -1.9px;
    font-family: "Nanum Brush Script";
    z-index: 5;
  }

  &__bottom {
    font-size: 1rem;
    margin-left: -2px;
    border-top: .7px solid $theme-color-lighter;
    line-height: 1.1rem;
    margin-top: -1px;
    letter-spacing: .3px;
  }
}

//NAVIGATION -----------------------------------------------

.navBar {
  font-size: $font-normal;
  background-color: $lightest;
}

.burgerMenu{
  position: absolute;
  height: 79px;
  width: 30px;
  right: 40px;
  //as flex container
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  z-index: 99;
}

.burgerMenu__clickRegion {
  display: block;
  position: absolute;
  width: 30px;
  cursor: pointer;
  height: 27px;
}

/* .burgerMenu__txt {
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  cursor: default;
  transition: opacity 200ms ease-out, transform 200ms cubic-bezier(.34, .55, .25, .83);
  
  .isOpen & {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
} */

$menu-animation-duration: 400ms;
$menu-animation-timing:   ease-out;

.burgerMenu__piece {
  //display: block;
  position: absolute;
  width: 30px;
  border-top: 3px solid $theme-color-darkest;
  transform-origin: 50% 50%;
  transition: transform $menu-animation-duration $menu-animation-timing;
  
  &:nth-child(1) {
    top: 4px;
  }
  
  &:nth-child(2) {
    top: 12px;
    opacity: 1;
    transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
  }
  
  &:nth-child(3) {
    top: 20px;
  }
  
  .active & {
      &:nth-child(1) {
        animation: burger-open-top $menu-animation-duration $menu-animation-timing forwards;
      }
      &:nth-child(2) {
        opacity: 0;
        transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
      }
      &:nth-child(3) {
        animation: burger-open-bot $menu-animation-duration $menu-animation-timing forwards;
      }
  }
  
  .closing & {
    &:nth-child(1) {
      animation: burger-close-top $menu-animation-duration $menu-animation-timing forwards;
    }
    &:nth-child(3) {
      animation: burger-close-bot $menu-animation-duration $menu-animation-timing forwards;
    }
  }
}

@keyframes burger-open-top {
  50% {
    transform: translate3d(0, 8px, 0);
  }
  100% {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
}

@keyframes burger-open-bot {
  50% {
    transform: translate3d(0, -8px, 0);
  }
  100% {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }
}

@keyframes burger-close-top {
  0% {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, 8px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes burger-close-bot {
  0% {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }
  50% {
    transform: translate3d(0, -8px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}


/* Dropdown Content (Hidden by Default) */
.navBar {
  position: absolute;
  width: 100%;
  height: 79px;
  top: -79px;
  background-color: $lightest;
  z-index: 90;
  //as flex container
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  transition: transform 0.3s ease;
}


@media only screen and (min-width: 700px) {
  .burgerMenu:hover + .navBar {
    transform: translate(0, 79px);
  }
  
  .navBar:hover {
    transform: translate(0, 79px);
  }
}

.navBar__items {
  list-style: none;
  margin: 0;
  padding: 0;
  //as flex container
  display: flex;
  flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
}

.nav__link {
  margin: 0 20px;
  color: $theme-color-darkest;
  font-weight: 500;

  &:hover {
    color: $highlight-color;
    text-decoration: none;
  }
}

.navPage {
  background-color: $lightest;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 95;
  //as flex container
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;

  &.hidden{
    opacity: 0;
    display: none;

    &.appear{
      opacity: 100;
      display: flex;
    }
  }
}

.navPage__items {
  list-style: none;
  text-align: center;
}

.navPage__item {
  margin: 18px;
}

.logout {
  cursor: pointer;
}


//SESSION TEMPLATE LAYOUT------------------------------------ //

.session {
  width: 35vh;
  height: 58vh;
  min-width: 230px;
  min-height: 365px;
  perspective: 1000px;
  //as flex container
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;

  &__header {
    padding-bottom: 6px;
    width: 65%;
    color: $theme-color;
    //as flex container
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
}


//CARD LAYOUT------------------------------------ //

.card {
  height: 100%;
  width: 100%;
  border: none;
  position: relative;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  background-color: transparent;
  //as flex container
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__face {
    position: absolute;
    width: 100%;
    height: 100%; 
    backface-visibility: hidden;

    &--front {
      display: block;
      position: relative;
      height: 85%;
    }

    &--back {
      transform: rotateY(180deg);
    }
  }

  &.flipped {
    transform: rotateY(180deg);
  }

  &__ratingButtons {
    position: relative;
    //as flex container
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
  }
}

.ratingButtons {
    //as flex container
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 65%;
}
  
.btn-rating {
  border: none;
  font-size: $font-small;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%; 
  width: 3rem;
  height: 3rem;
}

.btn-gotIt {
  @include btn-solid($theme-color-darkest);
}


/* .card__flag {
  color: white;
  padding: 1.8% 0;
  position: absolute;
  right: -0.5%;
  z-index: 9999;
  font-size: 1.2rem;
  top: 6%;
  text-align: center;
  display: none;
}

.card__flag--numberInSet {
  width: 25%;
  background-color: $theme-color1;
}

.card__flag--newCard {
  width: 50%;
  background-color: $new-color;
  text-transform: uppercase;
} */



//CHARACTER LAYOUT------------------------------------ //

.card__inner {
  display: block;
  position: relative;
  animation-name: moveIn;
  animation-duration: 0.5s;
  animation-timing-function: ease; 
  text-align: center;
  height: 100%;
}

@keyframes moveIn {
  0% {
    transform: translateY(-50px);
    opacity: 0; }
  30% {
    opacity: 0.1; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

.card__inner__character {
  display: flex;
  height: 60%;
  justify-content: flex-end;
  flex-direction: column;
}

.character {
  font-size: 8.5rem; 
}

.pinYin {
  color: $theme-color;
  font-size: 2.5rem;
  font-weight: 700; 
  margin-bottom: 5%;
}

.meaning {
  font-size: 1.6rem;
}

.card__inner__answer {
  font-family: "Lato", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  padding-bottom: 8%;
  position: relative;
}

.card__inner__answer__showAnswer {
  width: 100%;
  font-size: 5rem; 

  &.hidden {
    opacity: 0;

    &.appear {
      animation-name: appear;
      animation-duration: 0.5s;
      animation-timing-function: ease; 
      animation-fill-mode: forwards;
    }

    @keyframes appear {
      0% {
        opacity: 0; }
      100% {
        opacity: 1;  } }
  }
}

.btn-showAnswer{
  position: absolute;
  top: 20%;
  justify-content: center;
  z-index: 91;
  @include btn-outline($theme-color);
  font-size: $font-normal;

  &.disappear{
    animation-name: disappear;
    animation-duration: 0.5s;
    animation-timing-function: ease; 
    animation-fill-mode: forwards;
  }

  @keyframes disappear {
    0% {
      opacity: 1; }
    100% {
      opacity: 0;
   } }
}

//SUMMARY CARD LAYOUT------------------------------------ //

.card__face--back {
  width: 65%;
  //as flex container
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summaryHeader {
  padding-top: 45px;
  font-weight: 500;
  color: $theme-color-darkest;
  height: 20%;
}

.summary__inner {
  height: 50%;
  margin-top: 15px;
}

.summaryLine {
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5% 0%;
}
.summary__buttons {
  width: 100%;
  height: 30%;
}

.btn-home {
  @include btn-solid($theme-color-darkest);
  margin-bottom: 8px;
  width: 100%;
}

.btn-nextSession {
  @include btn-outline($theme-color-darkest);
  width: 100%;
}

//SET LAYOUT------------------------------------ //

.setContainer {
  display: block;
  width: 400px;
}

@media only screen and (max-width: 380px) {
  .setContainer {
    margin-top: 85px;
    width: 250px;
  }
}

.sets {
  //as flex container
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  align-items: center;
  flex-wrap: wrap;
}

.set {
  //as flex container
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  margin: 15px 25px;

  &__icon {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    text-align: center;
    padding: 0; 
    font-size: $font-normal;
  }

  &__id {
    font-size: $font-small;
    margin-top: 2px;
    font-weight: 500;
  }
}

/* .setHeader {
  @include header-font($theme-color1);
  margin-bottom: 8%;

  &--active{
    color: $highlight-color;
  }
} */

.fa, .fas {
  font-weight: 600;
  line-height: 24px;
}

.fa-play {
  padding-left: 3px;
}

.set__icon--green {
  background-color: $highlight-color;
  color: $lightest;
}

.set__icon--grey {
  color: $theme-color-lighter;
  border: $theme-color-lighter 2px solid;
  background-color: transparent;

  &:hover{
    color: $theme-color-lighter;
    border: $theme-color-lighter 2px solid;
    background-color: transparent;
  }
}

.set__icon--dark {
  background-color: $theme-color-darkest;
  color: $lightest;
}
/* 
.btn-startSession {
  font-size: 1.3rem;
  border-color: $highlight-color;
  color: $highlight-color;
}

.btn-locked {
  font-size: 1.3rem;
  border-color: $theme-color1;
  color: $theme-color1;
  pointer-events: none;
} */


//BUTTONS & POPUPS ------------------------------------------------------

.btn-exitSetAlert, .btn-exitSession {
  background-color: transparent;
  border: none;
  color: $theme-color;
  padding: 0;
  font-size: $font-small;

  &:hover {
    background-color: transparent;
    color: $theme-color;
  }
}

.btn-exitSetAlert {
  position: absolute;
  top: 6px;
  right: 9px;
}

.popupMain, .popupSession, .popupSets {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  //as flex container
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &__container {
    position: relative;
    padding: 20px;
    width: 80%;
    max-width: 300px;
    background: #FFF;
    border-radius: .25rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    
    &.is-visible {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }

  &__buttons {
    text-transform: capitalize;
  }

  &__message {
    font-size: 1.4rem;
    text-align: left;
    margin: 4% 2.5% 6% 2.5%;
    line-height: 2.3rem;
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }
}

.btn-popupYes, .btn-popupQuit {
  @include btn-solid($theme-color-darkest);
  margin-right: 2%;
}

.btn-popupNo,.btn-popupRemain {
  @include btn-outline($theme-color-darkest);
}


//PROGRESS -----------------------------------------------
#myProgress {
  width: 65%;
  background-color: $theme-color-lightest;
}

#myBar {
  width: 0%;
  height: 1.5px;
  background-color: $theme-color;
  text-align: center;
  line-height: 30px;
  color: white;
}










